* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(23, 27, 27);
  background: radial-gradient(
    circle at top,
    rgba(23, 27, 27, 1) 0%,
    rgb(7, 7, 7) 100%
  );
  min-height: 100vh;
  color: #dbdbdb;
}

h1,
h2,
h3,
ul li,
a {
  font-family: "Roboto Mono", monospace;
}

p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.52rem;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

ul li {
  font-size: 2rem;
}

/* Menu btn */
#menu-btn {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transition: all 0.5s ease;
}

#menu-burger {
  width: 32px;
  height: 4px;
  background: white;
  border-radius: 4px;
  transition: all 0.5s ease;
}

#menu-burger::before,
#menu-burger::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 4px;
  background: white;
  border-radius: 4px;
  transition: all 0.5s ease;
}

#menu-burger::before {
  transform: translateY(-8px);
}

#menu-burger::after {
  transform: translateY(8px);
}

#menu-btn.open #menu-burger {
  transform: translateX(-15px);
  background: transparent;
}

.open #menu-burger::before {
  transform: translate(15px, 0) rotate(45deg);
}

.open #menu-burger::after {
  transform: translate(15px, 0) rotate(-45deg);
}
