* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body.open {
  overflow-y: hidden;
}

body,
a {
  color: #dbdbdb;
}

body {
  background: rgb(23, 27, 27);
  background: radial-gradient(
    circle at top,
    rgba(23, 27, 27, 1) 0%,
    rgb(7, 7, 7) 100%
  );
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  line-height: 1.5;
}

h1,
h2,
h3,
ul li,
a,
p {
  font-family: "Roboto Mono", monospace;
}

p {
  font-size: 1.52rem;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

/* Ul menu */
@keyframes menuOpen {
  0% {
    transform: translateX(-110vw);
  }
  25% {
    transform: translateX(0%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menuClose {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  70% {
    opacity: 0;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-110vw);
  }
}

ul {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(7, 7, 7);
  list-style: none;
  padding: 0px;
  transform: translateX(-110vw);
  opacity: 0;
  animation: menuClose 1s forwards;
}

ul.open {
  transform: translateX(0);
  animation: menuOpen 1s forwards;
}

nav ul li a {
  text-align: right;
}

nav ul li a#selected-item {
  color: #e9bc2a;
}

nav ul li a#selected-item::after {
  content: " //Selected";
  color: #18942c;
}

ul li {
  font-size: 2rem;
}

nav ul li a {
  display: block;
  padding: 20px;
  margin: 10px 0px;
  text-decoration: none;
  transition: color 0.5s ease;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #e9bc2a;
  transition: color 0.5s ease;
}

/* Menu btn */
#menu-btn {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transition: all 0.5s ease;
  z-index: 11;
}

#menu-burger {
  width: 32px;
  height: 4px;
  background: #dbdbdb;
  border-radius: 4px;
  transition: all 0.5s ease;
}

#menu-burger::before,
#menu-burger::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 4px;
  background: #dbdbdb;
  border-radius: 4px;
  transition: all 0.5s ease;
}

#menu-burger::before {
  transform: translateY(-8px);
}

#menu-burger::after {
  transform: translateY(8px);
}

#menu-btn.open #menu-burger {
  transform: translateX(-15px);
  background: transparent;
}

.open #menu-burger::before {
  transform: translate(15px, 0) rotate(45deg);
}

.open #menu-burger::after {
  transform: translate(15px, 0) rotate(-45deg);
}

/** Main section **/
main {
  margin-top: 40vh;
  margin: 40vh auto 0 auto;
  padding: 10px;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.method-call {
  color: #e9bc2a;
}

/** sections **/
section {
  font-family: "Roboto Mono", monospace;
}

section h2 {
  font-size: 4rem;
  font-family: inherit;
}

/** is section **/

section#is {
  min-height: 60vh;
  font-family: "Roboto Mono", monospace;
}

section#is h2 {
  font-size: 4rem;
  font-family: inherit;
}

section#is p {
  font-size: 1.8rem;
  font-family: inherit;
  color: rgb(110, 110, 110);
}

section#is p#name {
  color: #b38c0f;
}

/** work section **/
section#work article {
  padding: 0px 0px 30px 0px;
  border-bottom: 3px solid white;
}

section#work article h3,
section#work article p,
section#work article a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

section#work article h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

section#work article p {
  margin-top: 10px;
  margin-bottom: 12px;
}

.project-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

section#work article a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 15px;
  padding: 8px;
  border: 1px solid #df6620;
  border-radius: 5px;
}
